@import 'navbar';
@import 'userProfile';
@import 'cart';
@import 'product';
@import 'categories';

.rightnav > a:hover {
  background-color: aqua;
  margin: 0.5rem;
  border-radius: 5px;
}
.categories-list > a:hover {
  background-color: aqua;
  margin: 0.5rem;
  border-radius: 10px;
}
button {
  margin: 0.2rem;
  height: 2rem;
  width: 5rem;
  background-color: black;
  color: white;
}
button:hover {
  transition: all 0.5s ease;
  box-shadow: 5px 10px 18px red;
  background-color: red;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}

.product,
.login {
  margin-top: 16%;
}

.categories-list,
.cart-container,
.user-profile {
  margin-top: 13%;
}

select {
  height: 2rem;
}

// .selected {
//   //   padding: 0.5rem;
//   //   background-color: lightblue;
//   border-radius: 10px;
// }

// .navbar > .logged-in {
//   position: fixed;
//   top: 2;
//   width: 100%;
// }
